/* Chatting.css */
body {
    background-color: #140000;
}
/* 노트북 프레임 스타일 */
.laptop-frame {
    width: 100%;
    max-width: 1200px; /* 원하는 최대 너비 설정 */
    margin: 0 auto; /* 중앙 정렬 */
    padding: 0px;
    box-sizing: border-box;
    background-color: #eee; /* 임시로 배경색 추가하여 가시성 확인 */
    height: 100%; /* #wrapper_window의 높이에 맞춤 */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 채팅 창 스타일 */
.chat-window {
    background-color: #fff;
    border: 5px solid #978c8c;
    border-radius: 10px;
    padding: 20px;
    height: 100%; /* laptop-frame의 높이에 맞춤 */
    width: 100%;
    max-width: 1000px; /* 원하는 최대 너비 설정 */
    display: flex;
    flex-direction: column;
}


/* 헤더와 푸터의 공간을 확보하기 위해 패딩 추가 */
#wrapper_window {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 40px;
    overflow: hidden; /* 내부 콘텐츠 스크롤 방지 */
}

/* 대화 내용 스타일 */
.conversation {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* 대화 헤더 */
.conversation-header {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* 대화 메시지 영역 */
.conversation-messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}

/* 메시지 스타일 */
.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.message.bot {
    flex-direction: row;
}

.message.user {
    flex-direction: row-reverse;
}

.message img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
}

.message-content {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

/* 입력 영역 스타일 */
.input-container {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.input-container form {
    display: flex;
}

.input-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #555;
}