.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem; /* 좌우 여유를 주기 위해 패딩 조정 */
    background-color: #333;
    color: #fff;
    position: fixed; /* 헤더를 고정 */
    top: 0; /* 페이지 상단에 고정 */
    width: 99%; /* 전체 너비 */
    z-index: 1000; /* 다른 요소들보다 위에 표시 */
}

.nav .logo {
    font-size: 1.5rem; /* 크기 조정 */
    font-weight: bold;  
    color: #fff;
    text-decoration: none; /* 밑줄 제거 */
}

/* 버튼 끼리 간격 */
.nav .buttons {
    display: flex;
    gap: 1rem;
}


.nav .buttons button {
    padding: 0.5rem 1rem; /* 버튼 크기 및 너비 */
    border: none;    /* 테두리 제거 */
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    cursor: pointer;    /* 마우스 포인터 변경 */
    font-size: 0.8rem; /* 크기 조정 */
}

/* 회원가입 버튼 */
.nav .buttons .explore {
    background-color: #f5f5f5;
    color: #333;
}

/* 로그인 버튼 */
.nav .buttons .signin {
    background-color: #d9534f;
    color: white;
}

/* 버튼 호버 */
.nav .buttons button:hover {
    opacity: 0.8; /* 호버 효과 추가 */
}